.portfolio {
    background-color: #2d303a;
}

.portfolio__navigation {
    margin-top: -35px;
    margin-left: -2px;
}

.portfolio__link {
    background-color: transparent;
    box-sizing: border-box;
    color: #767e9e;
    border-radius: 5px;
    border: 1px solid #666d89;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding: 5px 7px 3px 7px;
    margin: 0 2px;
    letter-spacing: -0.042px;
}

.portfolio__link:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
}

.portfolio__images {
    height: 621px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 55px -9px;
    overflow: hidden;
    justify-content: space-between;
}

.portfolio__item {
    padding: 9px 1px 8px 8px;
}

.portfolio__image {
    max-width: 100%;
    height: auto;
}

.about-us__team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -2px 0 62px;
}

.about-us__managers {
    width: 302px;
    height: 448px;
    display: flex;
    flex-direction: column;
}

.about-us__photo {
    width: 300px;
    margin-bottom: 18px;
}

.about-us__title {
    font-size: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-bottom: 10px;
    letter-spacing: -0.04px;
    overflow: hidden;
}

.about-us__text {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

.about-us__icon {
    margin-top: 21px;
}

.about-us__link {
    text-decoration: none;
    padding-right: 1px;
}

.about-us__link svg:hover {
    transform: rotate(360deg);
    transition: transform 1s;
}
