.portfolio {
    background-color: #2d303a;
}

.portfolio__navigation {
    margin-top: -35px;
    margin-left: -2px;
}

.portfolio__link {
    background-color: transparent;
    box-sizing: border-box;
    color: #767e9e;
    border-radius: 5px;
    border: 1px solid #666d89;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding: 5px 7px 3px 7px;
    margin: 0 2px;
    letter-spacing: -0.042px;
}

.portfolio__link:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
}

.portfolio__images {
    height: 621px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 55px -9px;
    overflow: hidden;
    justify-content: space-between;
}

.portfolio__item {
    padding: 9px 1px 8px 8px;
}

.portfolio__image {
    max-width: 100%;
    height: auto;
}
